<h2>List of Payment Orders</h2>

<!--<mat-card style="height: 98%">-->
<!--  <table mat-table [dataSource]="paymentOrderTableDataSource" class="mat-elevation-z8">-->
<!--    <ng-container matColumnDef="Name">-->
<!--      <th mat-header-cell *matHeaderCellDef>Name </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="DateOfBirth">-->
<!--      <th mat-header-cell *matHeaderCellDef> DateOfBirth </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.DateOfBirth}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="Address">-->
<!--      <th mat-header-cell *matHeaderCellDef> Address </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.Address}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="Postcode">-->
<!--      <th mat-header-cell *matHeaderCellDef> Postcode </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.Postcode}} </td>-->

<!--      <ng-container matColumnDef="Gender">-->
<!--        <th mat-header-cell *matHeaderCellDef> Gender </th>-->
<!--        <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="Salary">-->
<!--        <th mat-header-cell *matHeaderCellDef> Salary </th>-->
<!--        <td mat-cell *matCellDef="let element"> {{element.Salary}} </td>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="JobTitle">-->
<!--        <th mat-header-cell *matHeaderCellDef> JobTitle </th>-->
<!--        <td mat-cell *matCellDef="let element"> {{element.JobTitle}} </td>-->
<!--      </ng-container>-->

<!--      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->
<!--</mat-card>-->
