<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="bcgwhite"><img src="assets/img/logo_transparent.png" /></span>
    <a class="navbar-brand" routerLink="/">National Bank of Serbia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" *ngIf="globals.isLoggedIn">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/invoice_details" *ngIf="globals.isLoggedIn">Invoice detatails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" *ngIf="globals.isLoggedIn">About</a>
        </li>
      </ul>
      <form class="form-inline my-1 my-lg-0">
        {{globals.currentUser.name}}
        <!--<input class="form-control mr-sm-1" type="username" placeholder="username" aria-label="Log In">-->
        <!--<input class="form-control mr-sm-1" type="password" placeholder="password" aria-label="Log In">-->
      </form>


      <button class="btn btn-outline-primary " *ngIf="!globals.isLoggedIn" routerLink="/login">Log In</button>

      <button class="btn btn-outline-secondary" *ngIf="!globals.isLoggedIn" type="button" routerLink="/register">
        Register
      </button>
      <button class="btn btn-outline-secondary" style="margin-left: 10px;" *ngIf="globals.isLoggedIn" type="button"
              (click)="logoutUser()">logout
      </button>
    </div>
  </nav>
</header>
